<!DOCTYPE html>
<html lang="en-US">
  <body>
    {{#if body.name}}Hi {{body.name}}{{else}}Hi {{document.default_name}}{{/if}}
    {{#if vars.from_someplace}}from {{vars.from_someplace}}!{{else}} from {{document.place}}!{{/if}}
  </body>
</html>
